@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

$fontcolor1: #4b4d4f;
$fontcolor2: #8c8c8c;
$fontcolor3: #848484;
$whitecolor: #fff;
$colorblue: #2a41e8;
$bgcolorgrey: #ececec;
$bordeCasaRoyal: #efefef;
$orangeColor: #ff5e14;
$bgcolorbody: #fafafa;
$borderColor: #f4f4f4;
$fontfamily: 'Rubik', sans-serif;
