@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.main_container {
  height: 11023px;
}

.header_container {
  width: 100%;
  height: 800px;
}
.header_container .nav_container .topMenu {
  color: #fff;
  display: flex;
  height: 54px;
  background-color: #2a41e8;
  justify-content: space-between;
  align-items: center;
}
.header_container .nav_container .topMenu .info {
  display: flex;
  width: 650px;
  justify-content: space-around;
}
.header_container .nav_container .topMenu .login {
  height: 54px;
  width: 180px;
  border: none;
  background-color: #2a41e8;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.header_container .nav_container .mainMenu {
  display: flex;
  height: 83px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.header_container .nav_container .mainMenu .logoDiv {
  border-right: 1px solid #efefef;
  width: 250px;
  height: 83px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.header_container .nav_container .mainMenu .logoDiv .logo {
  margin: 10px;
}
.header_container .nav_container .mainMenu .logoDiv .casaRoyal {
  color: #4b4d4f;
  font-size: 28px;
}
.header_container .nav_container .mainMenu .logoDiv .casa {
  font-weight: 100;
}
.header_container .nav_container .mainMenu .navBar {
  width: 700px;
  height: auto;
  margin-right: 300px;
}
.header_container .nav_container .mainMenu .navBar .navLinks li {
  font-size: 18px;
  color: #4b4d4f;
  display: inline-block;
  list-style: none;
  padding: 5px 10px;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
}
.header_container .nav_container .mainMenu .navBar .navLinks .hmp {
  color: #2a41e8;
}
.header_container .nav_container .mainMenu .submitBtn {
  color: #fff;
  background-color: #ff5e14;
  justify-content: end;
  height: 83px;
  width: 200px;
  border: none;
  font-size: 16px;
}
.header_container .hero_container {
  padding: 0.1px;
  height: 663px;
  width: 100%;
  background-image: url(../img/hero-bg-image.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.header_container .hero_container .mainText {
  padding: 20px;
  color: #fff;
  width: 800px;
  height: 100px;
  margin: 160px auto;
}
.header_container .hero_container .mainText h2 {
  font-weight: 100;
  font-size: 42px;
}
.header_container .hero_container .mainText h3 {
  font-weight: 100;
  font-size: 18px;
}
.header_container .hero_container .searchBg {
  display: flex;
  border: 0.1px;
  height: 120px;
  width: 800px;
  margin: -100px auto;
  background-color: white;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
}
.header_container .hero_container .searchBg .type {
  border-radius: 5px;
  width: 277px;
  height: 60px;
  background-color: #ececec;
  margin: 20px;
}
.header_container .hero_container .searchBg .status {
  border-radius: 5px;
  width: 190px;
  height: 60px;
  background-color: #ececec;
  margin: 20px;
}
.header_container .hero_container .searchBg .area {
  border-radius: 5px;
  width: 450px;
  height: 60px;
  background-color: #ececec;
  margin: 20px;
}
.header_container .hero_container .searchBg .find {
  border-radius: 5px;
  width: 350px;
  height: 60px;
  background-color: #2a41e8;
  margin: 20px;
  border: none;
  padding: 5px;
  font-size: 18px;
  color: #fff;
}

.background_container {
  width: 100%;
  height: 11023px;
  padding: 0.1px;
  background-color: #fafafa;
}

.container_properties {
  padding: 0.1px;
  width: 80%;
  height: 1370px;
  margin: 5px auto;
  margin-top: 100px;
}
.container_properties .title1 {
  margin: 30px auto;
  text-align: center;
  width: 60%;
  height: 110px;
}
.container_properties .title1 .state {
  color: #8c8c8c;
  font-weight: 100;
  padding-bottom: 20px;
}
.container_properties .title1 .fp {
  justify-content: center;
  display: flex;
  font-size: 36px;
  margin: 5px;
}
.container_properties .title1 .fp .featured {
  font-weight: bold;
}
.container_properties .title1 .fp .Properties {
  font-weight: 100;
}

.cards {
  background-color: #fff;
  margin: 10px auto;
  width: 100%;
  height: 1150px;
}
.cards .property__card {
  display: inline-block;
  width: 30%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  height: 520px;
}
.cards .property__card .property__card-preview {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 278px;
  padding: 20px;
}
.cards .property__card .property__card-preview .card-preview--second-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  text-transform: uppercase;
  color: #2a41e8;
  margin-top: 180px;
}
.cards .property__card .property__card-preview .card-preview--second-row .property-price {
  padding: 5px;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  color: #2a41e8;
  font-weight: bolder;
}
.cards .property__card .property__card-preview .card-preview--second-row .iconfavorite {
  padding: 5px;
  height: 100%;
  background-color: #111;
  border-radius: 5px;
  text-align: center;
  width: 30px;
  margin-left: 110px;
}
.cards .property__card .property__card-preview .card-preview--second-row .iconcompare {
  padding: 5px;
  height: 100%;
  background-color: #111;
  border-radius: 5px;
  text-align: center;
  width: 30px;
}
.cards .property__card .property__card-preview .card-preview--first-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  text-transform: uppercase;
  color: #fff;
}
.cards .property__card .property__card-preview .card-preview--first-row .iconRayo {
  padding: 5px;
  height: 100%;
  background-color: #2a41e8;
  border-radius: 5px;
  text-align: center;
  width: 30px;
}
.cards .property__card .property__card-preview .card-preview--first-row .property-type {
  padding: 5px;
  height: 100%;
  background-color: #2a41e8;
  border-radius: 5px;
}
.cards .property__card .property__card-preview .card-preview--first-row .property-status {
  padding: 5px;
  height: 100%;
  background-color: #ff5e14;
  border-radius: 5px;
  margin-right: 100px;
}
.cards .property__card .property__card-details {
  width: 100%;
  height: 240px;
  padding: 20px;
}
.cards .property__card .property__card-details .card__details-location {
  color: #848484;
  font-size: 12px;
  margin-bottom: 20px;
}
.cards .property__card .property__card-details .card__details-address {
  font-size: 18px;
  display: flex;
  margin-bottom: 20px;
}
.cards .property__card .property__card-details .owner-row {
  margin-bottom: 20px;
  font-size: 14px;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}
.cards .property__card .property__card-details .owner-row .owner-row-left {
  display: flex;
}
.cards .property__card .property-features {
  align-items: center;
  justify-content: space-between;
  height: 40px;
  display: flex;
  border-top: 1px solid #f4f4f4;
}
.cards .property__card .property-features .property-area {
  display: flex;
}
.cards .property__card .property-features .property-features-right {
  display: flex;
  font-weight: bolder;
}
.cards .property__card .property-features .property-features-right .features-right-wrapper {
  margin: 5px;
}

/*# sourceMappingURL=styles.css.map */
